@keyframes move-down {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}

.move-down {
    animation: move-down 0.4s ease-in-out backwards;
}

.clear-screen {
    animation: clear-screen 0.4s ease-in-out backwards;
}